

<h1>Signup!</h1>

  <% flash.each do |type, msg| %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
  <% end %>

<%= @error_message %>

<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name, class: 'form-control my-2' %>
  Last Name: <%=f.text_field :last_name, class: 'form-control my-2' %>
  Email: <%= f.text_field :email, class: 'form-control my-2' %>
  Password: <%= f.password_field :password, class: 'form-control my-2' %>
  Password Confirmation: <%= f.password_field :password_confirmation, class: 'form-control my-2' %>
  <%= f.submit "Signup", class: 'form-control btn btn-danger my-2' %>
<% end %>